.nav {
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    
    
}



.left, .right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftIcon {
    font-size: 60px;
    color: yellow;
}

.center {
    flex: 6;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-right: 20px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}